
.shape{
    position:relative;
    text-align:center;
    margin:0 auto;
    height:200px;
      width:200px;
  /*   border: 1px solid red; */
    border-radius:50%;
    overflow:hidden;
  
  }
  .circle::before{
    content:"";
    position:absolute;
  /*    background:green; */
     border:15px dashed green;
   
  /* border-radius:50%;   */
     width:150px;
    height:200px;
    inset:0px 0px;
    
    transition:3s;
    animation:rotate 5s linear infinite;
    
  
  }
  
  
  @keyframes rotate{
    0%{
      transform:rotate(0deg);
      
    }
    
    
    100%{
      transform:rotate(360deg);
      
      
    }
  }
  
  .circle::after{
    content:"";
    position:absolute;
     background:white;
    inset:2.5px;
    border-radius:50%;
  } 